In [1]:
# Data science
import pandas as pd

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
# Read the CSV files
df1 = pd.read_csv('Resources/parks.csv')
df2 = pd.read_csv('Resources/species.csv')

C:\Users\Elizabeth\AppData\Local\Temp\ipykernel_11488\145762656.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Resources/species.csv')

In [3]:
# Create engine for conection to the SQLite
engine = create_engine('sqlite:///national_parks.sqlite')

# Guardar los DataFrames en la base de datos
df1.to_sql('parks', engine, index=False, if_exists='replace')
df2.to_sql('species', engine, index=False, if_exists='replace')

119248

In [4]:
# Leer los datos desde la base de datos
with engine.connect() as connection:
    result1 = pd.read_sql('SELECT * FROM parks', connection)
    result2 = pd.read_sql('SELECT * FROM species', connection)

# Mostrar los resultados
print(result1.head())
#print(result2.head())

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08